/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
    PALETTE:
    rosa: #e53170;
    azzurro: #53b3e3;
    nero: #0f0e17;

*/

/* BODY */

body {
    font-family: 'Fredoka', sans-serif;
}


#main-title {
    text-align: center;
    color: #e53170;
    padding: 25px;
}

/* MAIN */

main {
    max-width: 1200px;
    margin: 0 auto;
}

.introduction-p {
    text-align: center;
    margin-bottom: 25px;
}

/* FLOAT */

.first-row, .second-row {
    margin: 50px 0;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.card1, .card2, .card3{
    width: calc((100% / 3) - 20px);
    background-color: #0f0e17;
}

.card2 {
    margin: 0 30px;
}


.float-left {
    float: left;
}

img {
    width: auto;
    height: 100px;
    vertical-align: middle;
}

.info{
    color: white;
    display: inline-block;
    vertical-align: inline-block;
}

div > a {
    color: #53b3e3;
}

.info h4, .info p, .info a {
    margin: 10px;
}